.bc-nav-item {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.bc-highlight {
    animation: highlight 0.5s;
}

@keyframes highlight {
  0% {
    background: yellow;
  }
  100% {
    background: transparent;
  }
}
