@import 'styles/styles.scss';

.bc-nav-item {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 2px;

    &:hover {
        text-decoration: underline;
    }
}

.bc-highlight {
    animation: highlight 0.5s;
}

@keyframes highlight {
  0% {
    background: yellow;
  }
  100% {
    background: transparent;
  }
}
