$lighten-percentage: 10%;

.bc-button {
  @include text-body();

  transition: background-color 0.3s 0s ease-out;
  display: inline-block;
  background-color: $colour-primary;
  color: $colour-text-flip;
  border: 0;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: lighten($colour-primary, $lighten-percentage);
  }

  + .bc-button {
    margin-left: 10px;
  }

  &.bc-button--text {
    background: transparent;
    color: $colour-text;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &.bc-button--secondary {
    background-color: $colour-supplementary;

    &:hover {
      background-color: lighten($colour-supplementary, $lighten-percentage);
    }
  }
}
