$colour-primary: #6570BC;
$colour-primary-active: #79A61E;

$colour-keyframe: #e0e0e0;
$colour-background: #F6F6F6;
$colour-box: #FFFFFF;

$colour-text: #24292e;
$colour-supplementary: #aaa;
$colour-text-flip: #FFFFFF;
