@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@mixin text-heading {
  font-size: 18px;
  letter-spacing: 1px;
}

@mixin text-body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

a {
  color: $colour-text;
}
