@import "./animation";
@import "./colour";
@import "./text";
@import "./surgical";

@import "./grid";
@import "./buttons";
@import "./headers";
@import "./modal";
@import "./inputs";

.bc-body {
    margin: 0;
    background: $colour-background;
    color: $colour-text;

    @include text-body();
}
