<table class="bc-cart">
    <thead ng-hide="$ctrl.summary">
        <tr>
            <th width="40%">Product</th>
            <th width="20%" ng-hide="$ctrl.summary" class="bc-right">Quantity</th>
            <th width="20%" class="bc-right">Total</th>
            <th width="20%" class="bc-right"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.cart.getItems()">
            <td>
                <div class="bc-cart__item">
                    <img class="bc-cart__item-image" ng-src="{{ 'images/' + item.image }}">
                    <div>
                        <div>{{ item.brand }}</div>
                        <h3>{{ item.title }}
                            <span ng-show="$ctrl.summary">
                                &times; {{ item.quantity }}
                            </span>
                        </h3>
                    </div>
                </div>
            </td>
            <td class="bc-right" ng-hide="$ctrl.summary">
                <bc-product-cart product="item"
                    button="false"
                    control="true">
                </bc-product-cart>
            </td>
            <td class="bc-right">
                {{ item.quantity * item.price | currency:'$':2  }}
            </td>
            <td class="bc-right">
                <a class="bc-button bc-button--text" ng-click="$ctrl.cart.removeItem(item)">
                    &times;
                </a>
            </td>
        </tr>
        <tr ng-if="!$ctrl.cart.getTotalQuantity()">
            <td colspan="4" class="bc-center">
                No items in your cart.
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="bc-right">Total</td>
            <td class="bc-right">{{$ctrl.cart.getTotalPrice() | currency:'$':2 }}</td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div class="bc-space-between bc-mtxl">
    <a href="/#/" class="bc-nav-item" ng-hide="$ctrl.summary">Continue Shopping</a>
    <a href="/#/cart" class="bc-button bc-button--secondary" ng-show="$ctrl.summary">View Cart</a>
    <a  class="bc-button">Checkout</a>
</div>
