@import 'styles/styles.scss';

.bc-cart__header {
    text-align: center;
    font-size: 30px;
}

.bc-cart-page {
    max-width: 1000px;
    margin: 30px auto;
    background: $colour-box;
    padding: 30px;
}

.bc-cart {
    text-align: left;
    width: 100%;

    thead,
    tfoot {
        text-transform: uppercase;
        color: $colour-supplementary;
    }

    tr th,
    tr td {
        border-bottom: 1px solid $colour-keyframe;
        padding: 20px 0;
    }

    .bc-product-cart {
        justify-content: flex-end;
    }
}

.bc-cart__item {
    display: flex;
    align-items: center;

    .bc-cart__item-image {
        width: 100px;
        margin-right: 20px;
        align-self: flex-start;
    }
}

.bc-modal {
    .bc-cart {
        font-size: 15px;

        h3 {
            font-size: 16px;
            margin: 5px 0;
        }
    }
}
