@import 'styles/styles.scss';

$product-image-height: 200px;

.bc-product-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    transition: border 0.3s 0s ease-out;

    &:hover {
      .bc-product-item__image {
        background-size: 110%;
        opacity: 0.8;
      }
    }
}

.bc-product-item__content {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    h2 {
        @include text-heading();
        text-transform: uppercase;
    }

    .bc-product-item__detail {
        color: $colour-supplementary;
        margin: 0;
    }
}

.bc-product-item__image {
    background-color: $colour-background;
    transition: all 0.3s 0s ease-out;
    height: $product-image-height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
