<div class="bc-product-item">
  <div class="bc-product-item__image"
    style="background-image: url(images/{{$ctrl.product.image}})">
    <div class="bc-product-item__actions">
        <a ng-click="$ctrl.go()" class="bc-button">View Details</a>
        <a ng-click="$ctrl.add()" class="bc-button bc-button--secondary">Add to Cart</a>
    </div>
  </div>
  <div class="bc-product-item__content">
    <div>
      <div class="bc-product-item__detail">{{ $ctrl.product.brand }}</div>
      <h2>{{ $ctrl.product.title }}</h2>
      <div class="bc-product-item__detail">{{ $ctrl.product.price | currency:'$':2 }}</div>
    </div>
  </div>
</div>
