<div class="bc-product-cart">
    <div class="bc-product-cart__qty-control bc-space-between">
        <div class="bc-product-cart__quantity">
            {{ $ctrl.getQuantity() }}
        </div>
        <div class="bc-product-cart__control">
            <a class="bc-button bc-button--secondary"
                ng-click="$ctrl.increase()"
                href="javascript:void(0)">
                +
            </a>
            <a class="bc-button bc-button--secondary"
                ng-click="$ctrl.decrease()"
                href="javascript:void(0)">
                -
            </a>
        </div>
    </div>
    <a ng-click="$ctrl.addToCart()"
        ng-if="$ctrl.button"
        class="bc-button bc-mll bc-button__cart">
        Add to Cart
    </a>
</div>
