@import 'styles/styles.scss';

$product-description-spacing: 30px;

.bc-product {
    margin: 30px auto;
}

.bc-product__brand {
    color: $colour-supplementary;
}

.bc-product__price {
    color: $colour-supplementary;
    font-size: 20px;
}

.bc-product__description {
    color: $colour-supplementary;
    margin: $product-description-spacing 0;
    border-bottom: 1px solid $colour-keyframe;
    padding-bottom: $product-description-spacing;
}

.bc-product__content {
    text-align: center;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;

    h2 {
        font-size: 30px;
    }
}

.bc-product__image {
    width: 100%;
    height: auto;
}
