<div class="bc-g-row bc-product" ng-click="$ctrl.go()">
    <div class="bc-g-col bc-g-s-12 bc-g-m-7 bc-g-l-7">
        <img class="bc-product__image" ng-src="{{ 'images/' + $ctrl.product.image }}">
    </div>
    <div class="bc-g-col bc-g-s-12 bc-g-m-5 bc-g-l-5">
        <div class="bc-product__content">
          <div class="bc-product__brand">{{ $ctrl.product.brand }}</div>
          <h2>{{ $ctrl.product.title }}</h2>
          <div class="bc-product__price">{{ $ctrl.product.price | currency:'$':2 }}</div>
          <div class="bc-product__description">
              Lorem ipsum dolor sit amet, mel enim integre alterum at, vix ne elit meliore explicari. Nec no affert partiendo, eu vel audiam equidem dissentiet, causae senserit et vel. Ei diam perfecto usu. Est ne elit incorrupte. Vis no solum exerci invidunt, te eius magna munere mea.
          </div>
        </div>
    </div>
</div>
