@import 'styles/styles.scss';

.bc-loading {
    text-align: center;
}

$bc-loader-size: 20px;

.bc-loader {
  display: inline-block;
  align-self: center;
  width: $bc-loader-size;
  height: $bc-loader-size;
  border-radius: 50%;
  border: 3px solid $colour-supplementary;
  border-left-color: transparent;
  animation: bc-rotate 0.8s ease-in-out infinite;
}

@keyframes bc-rotate {
  100% {
    transform: rotate(360deg);
  }
}

section {
    padding: 50px;

    .image-container {
        display: inline-block;
        margin-right: 50px;
    }

    .text-container {
        display: inline-block;
        vertical-align: bottom;
    }
}
